.hero{
	min-height: 35vw;
	background-size: cover;
	background-image: url("/img/hero.png");
	padding: 3em;

	@include bp(t){
		padding-top: 5em;
	}

	@include bp(d){
		padding-top: 10em;
	}

	.row{
		text-align: center;
		color: $accent;
	}


}